.featured-item {
    background-image: url('https://i.ibb.co/JHpCLRD/1-EC0-Lcer1m5-Qvyna2wkhbo-A.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* or background-size: 100%; */
    width: 100%;
    
}